html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f6f5f7;
}
* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.portal-body {
    min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
margin: 0;
  background: #f6f5f7; 
   
}
h1{
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0;
    margin-bottom: 15px;
     font-size: 45px;
    text-shadow: 0px 4px 10px rgba(51, 131, 158, 0.3);
}
.portal-title{
    font-size: 45px;
}
h1.title{
    /* color: #d2d5e3; */
    font-size: 45px;
    line-height: 45px;
    margin: 0;
    text-shadow: 0 0 10px rgba(16, 64,74 ,0.5);
   
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    text-shadow: 0 0 10px rgba(16,64,74,0.5);
}
span{
    font-size: 14px;
    margin-top: 25px;
}

.content{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}
.content.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content input{
accent-color: #333;
width: 12px;
height: 12px;
}
.content label{
    font-size: 14px;
    user-select: none;
    padding-left: 5px;
}

button{
    position: relative ;
    border-radius: 20px;
    border: 1px solid #4678a9;
    background-color: #478cd1;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
}
button:hover{
    letter-spacing: 3px;
}
button:active{
    transform: scale(0.95);
}
button:focus{
    outline: none;
}
button.btn-ghost{
    background-color:rgba(140, 145, 175, 0.2) ;
    border: 2px solid #fff;
    color: #404f8a;
}
button.btn-ghost i{
    position: absolute;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
button.btn-ghost i.register{
right: 70px;
}
button.btn-ghost i.login{
left: 70px;
}

button.btn-ghost:hover i.register{
right: 40px;
opacity: 1;
}
button.btn-ghost:hover i.login{
left: 40px;
opacity: 1;
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 10px;
  /* outline: none; */
}

.role-switch{
  display:flex;
  background:#eee;
  border-radius:20px;
  margin-bottom: 15px;
  overflow: hidden;
}
.role-switch button {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  color:#aaa;
  transition:all 0.3s ease;
}

.role-switch button.active {
  background: #478cd1;
  color: rgb(237, 239, 240);
}



.portal-container {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width:70% ;
  /*768px  */
  max-width: 100%;
  min-height: 600px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.register-container {
    color:#201c28;
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.login-container {
    color:#201c28;
  left: 0;
  width: 50%;
  z-index: 2;
}


.portal-container.right-panel-active .login-container {
  transform: translateX(100%);
  /* opacity: 0; */
}

.portal-container.right-panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% { opacity: 0; z-index: 1; }
  50%, 100% { opacity: 1; z-index: 5; }
}



.subtitle {
  font-size: 13px;
  color: #3e3b3b;
  margin-bottom: 15px;
  transition: 0.3s; 
}

.subtitle:hover {
  color: #478cd1; 
  cursor: pointer; 
}




.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.portal-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background-image:url('bb.jpg');
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.portal-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width:  50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
} 
.overlay::before {
content:"";
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background: linear-gradient(
to top,
rgba(37, 90, 106, 0.4) 40%,
 rgba(181, 204, 212, 0)
);
}
.portal-container.right-panel-active .overlay { transform: translateX(50%); }

.overlay-left { transform: translateX(-20%); }

.portal-container.right-panel-active .overlay-left { transform: translateX(0); }

.overlay-right { right: 0; transform: translateX(0); }
.portal-container.right-panel-active .overlay-right { transform: translateX(20%); }


